body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .app-container {
    display: flex;
    height: 100vh;
  }
  
  .routes-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px; /* Adjust padding as needed */
  }
  
  
  .content-container {
    display: flex;
    flex: 1;
    overflow: hidden; /* To prevent content overflow */
  }
  
  
  Routes {
    flex: 1;
    padding: 20px; /* Adjust padding as needed */
    overflow-y: auto; /* Add scrollbar when content overflows */
    margin-left:5px;
  }
  
  