/* hero.css */

.hero {
    position: relative;
    height: 300px;
    width: 100vw;
    overflow: hidden;
  }
  
  .hero img {
    width: 100%;
    height: 100%; /* Use 100% to ensure the full height is covered */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
  
  .content {
    position: absolute;
    bottom: 0; /* Align the content to the bottom of the container */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background for better readability */
    color: #fff;
    padding: 20px; /* Add padding for better aesthetics */
  }
  
  
  .content h1 {
    font-size: 24px;
    margin: 0;
  }
  